.links{
    color:navy;
    width:450px;
    align-items: center;
    align-content: center;
    padding:40px;
    left:234px;
    display: flex;
    font-size: 40px;
}
.links a{
   left:343px;
   text-align: center;
   padding: 90px;
}

.image1{
    align-items: center;
    width: 1200px;
    box-shadow: 0px 0px 1200px 120px rgb(8, 88, 185);
    margin-left	:115px;
}
.quote{
    font-size:120px;
    color:rgba(57, 118, 233, 0.862);
    font-family: verdana;
    font-weight:bold;
    text-align: center;
}

body{
    background-color: rgb(0, 0, 0);
}

.links a{
    color: rgb(255, 255, 255);
}

.video{
    display: block;
  margin: auto;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0
}

.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1 {
  width: 50%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

video {
  width: 100%;
  height: 56.25%;
  margin-top: 21.875%;
  justify-content: flex-end;
}

.section2{
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links b{
  left:343px;
  text-align: center;
  padding: 90px;
}

.image2{
  width:10000px;
  display:flex;
  justify-content: center;
  box-shadow: 0px 0px 1200px 120px rgb(8, 88, 185);
  margin-left	:115px;
}
